@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@layer utilities {
    .animation-delay-2000 {
    animation-delay: 2s;
    }
    .animation-delay-4000 {
    animation-delay: 4s;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
    line-height: 1.6;
}

.team-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.owner-shift-1 {
    width: 100%;
    border-bottom-left-radius: 50%;
    border-top: 8px solid white;
    border-right: 8px solid white;
}

.owner-shift-2 {
    width: 100%;
    border-top-right-radius: 50%;
    border-bottom: 8px solid #cffafe;
    border-left: 8px solid #cffafe;
}

.dream-image {
    background-image: url('./images/DashboardAssets/dream.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    height: 100vh;
    filter: blur(5px);
    position: relative;
}

.dream-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}

.card-image-1 {
    background-image: url('./images/DashboardAssets/kitchen.jpg');
    background-size:cover;
    background-position: center right 35%;
    gap: 180px;
    padding: 50px 0px 50px 0px;
}

.card-image-2 {
    background-image: url('./images/DashboardAssets/bathremodel.jpg');
    background-size:cover;
    background-position: center left 15%;
    gap: 180px;
    padding: 50px 0px 50px 0px;
}

.card-image-3 {
    background-image: url('./images/DashboardAssets/deck.jpg');
    background-size:cover;
    background-position: center center;
    gap: 180px;
    padding: 50px 0px 50px 0px;
}

.card-image-4 {
    background-image: url('./images/DashboardAssets/remodel.jpg');
    background-size:cover;
    background-position: center center;
    gap: 180px;
    padding: 50px 0px 50px 0px;
}

.card-image-5 {
    background-image: url('./images/DashboardAssets/custom.jpg');
    background-size:cover;
    background-position: center center;
    gap: 180px;
    padding: 50px 0px 50px 0px;
}

.browse-now-button {
    @apply text-white bg-[#e79326] hover:bg-[#ffaa3c]/90 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#2557D6]/50
}

.call-us-button {
    @apply bg-[#3351fc] hover:bg-[#4460ff]/80 focus:ring-4 focus:outline-none focus:ring-[#4460ff]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#3351fc]/80 dark:focus:ring-[#4460ff]/40 mr-2 mb-4 text-white
}

.underlined {
    position: relative;
    margin-right: 1rem;
}

.underlined:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 7px;
    width: 105%;
    border: solid 3px #ac1cdc;
    border-color: #ac1cdc transparent transparent transparent;
    border-radius: 50%;
}

.small {
    font-size: 100%;
}

.custom-container {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: transform 500ms ease;
}

.custom-container:hover{
    border-color: #ac1cdc;
    transform: scale(1.05);
}

.card-container {
    height: 80vh;
    width: 100%;
}

.logo-height {
    height: 80px;
    width: 80px;
}

.custom-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery-line {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: black;
    border: 1px solid gray;
}

.gallery-container {
    width: 100%;
}

.gallery-pic {
    height: 350px;
    width: 350px;
}

.gallery-effect {
    --b: 5px;
    --d: 10px;
    --o: 10px;
    --s: 1;
    --_d: calc(var(--d) + var(--s)*1em);
    --_g: calc(100% - 1.7*(var(--_d) + var(--b)));
    --_m:
    conic-gradient(from 90deg at var(--_d) var(--_d),#9191918e 25%,#d1d1d1 0)
    0 0/calc(100% - var(--_d)) calc(100% - var(--_d)),
    linear-gradient(#a9a9a9f9 0 0) 50%/var(--_g) var(--_g) no-repeat;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    font-size: 0;
    cursor: pointer;
    transition: .5s;
}

.gallery-effect:hover {
    font-size: var(--o);
}